/* Màu sắc chủ đạo */
:root {
  --primary-bg: #E5D3BD;        /* Beige ấm */
  --secondary-bg: #FBF8F5;      /* Nền trắng ngà */
  --accent-orange: #C75F4B;     /* Cam đất */
  --accent-green: #4A6D56;      /* Xanh rêu */
  --text-primary: #3C3C3C;
}

/* Wrapper tổng */
.nf-wrapper {
  min-height: 100vh;
  background: var(--secondary-bg);
  
}

/* Header */
.nf-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  background: var(--secondary-bg);
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.nf-header-inner {
  max-width: 1200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nf-header-title {
  font-size: 24px;
  font-weight: bold;
  font-family: "Italianno";
}

/* Content */
.nf-container {
  width: 100%;
  max-width: 550px;
  margin: 60px auto 80px;
  padding: 0 24px;
  text-align: center;
}

/* Box */
.nf-box {
  padding: 48px;
  background: var(--primary-bg);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* Code 404 */
.nf-code {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 16px;
  color: var(--accent-orange);
}

/* Titles */
.nf-title {
  font-size: 28px;
  font-weight: 700;
  color: var(--accent-green);
  margin-bottom: 16px;
}

.nf-desc {
  font-size: 17px;
  color: #444;
  margin-bottom: 32px;
}

/* Icon */
.nf-icon {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  margin: 0 auto 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: #777;
}

.nf-icon img{  
  width: 120px;
  height: 120px;
}

/* Buttons */
.nf-buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btn-primary {
  background: var(--accent-orange);
  color: white;
  padding: 12px 24px;
  border-radius: 32px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s;
}

.btn-primary:hover {
  opacity: 0.85;
}

.btn-outline {
  padding: 12px 24px;
  border-radius: 32px;
  background: transparent;
  color: var(--accent-green);
  border: 2px solid var(--accent-green);
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s;
}

.btn-outline:hover {
  background: white;
}

/* Search Section */
.nf-search-area {
  margin-top: 32px;
}

.nf-search-label {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.nf-search-bar {
  display: flex;
  border: 1px solid #999;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nf-search-bar input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
}

.nf-search-btn {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  background: var(--accent-green);
  color: white;
  transition: 0.25s;
}

.nf-search-btn:hover {
  filter: brightness(1.2);
}
